{% extends "bootstrap/base.html" %}

{% block title %}Koodilehto Intra{% endblock %}

{% block head %}
{{ super() }}  <!-- Retain block content from parent -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Koodilehto Intra</a>

      % if current_user.is_authenticated()
      <a class="navbar-brand pull-right" href="/logout">Kirjaudu ulos</a>
      % else
      <a class="navbar-brand pull-right" href="/login">Kirjaudu sisään</a>
      % endif
      
      <a class="navbar-brand pull-right" href="{{url_for('public.view')}}">/public</a>
      <a class="navbar-brand pull-right" href="{{url_for('member.view')}}">/member</a>
      <a class="navbar-brand pull-right" href="{{url_for('admin.view')}}">/admin</a>
      
    </div>
    <!-- <div class="navbar-collapse collapse"> -->
    <!--     <ul class="nav navbar-nav"> -->
    <!--         <li><a href="/">Home</a></li> -->
    <!--     </ul> -->
    <!-- </div> -->
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

  % for message in get_flashed_messages()
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  % endfor

  {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
